/*
===========================================================
; Title: site.css
; Author: Eric McCool
; Date: 4 January 2023
; Description: css classes for assignments
===========================================================
*/

/* assignment 1 styles */
#container {
    margin: 50px 100px 0px;}
#icon-mode {
    display: block;
}
    
#icon-mode:hover {
    cursor: pointer;}
#icon-text {
    padding-left: 10px;}
.pull-right {
    float: right;}

/* create header styles */
.app-header {
    text-align: center;
    font-weight: 400;
    margin: 20px auto 40px auto;}
/* h1, h2, h3, h4 {
    background-color: #3c275a;
    color: #fff;
    border: 1px solid #d6a800;
    padding: 10px;} */

/* create styles for the return-home link */
.return-home {
    color: #4f3674;
    text-decoration: none;}
.return-home:hover {
    background-color: #d6a800;
    color: #4f3674;
    text-decoration: underline;}
.return-home:visited {
    color: #3c275a;}

/* create form styles */
.form {
    display: inline-grid;
    grid-template-columns: auto;}
.form-field {
    padding: 20px;}
.full-width {
    width: 100%;}

/* create assignment styles */
.assign-container {
    padding: 10px;}
.assign-content {
    width: 600px;
    margin: 3% auto 0;}
.assign-results-text {
    text-align: center;
    font-size: 28px;}
